name=BEN2_D
path=/Volumes/SeagateBacupPlusDrive/Earthworm_Project/BEN2_D/SPADES_assembly_MultiKmer/BUSCO/run_genome_1-75-MULTIKMER/full_table_genome_1-75-MULTIKMER.tsv
name=DIRA_D
path=/Volumes/SeagateBacupPlusDrive/Earthworm_Project/DIRA_D/SPADES_assembly/assembly_Q30/BUSCO/run_genome_2-RECQ30/full_table_genome_2-RECQ30.tsv
name=DRILO_D
path=/Volumes/SeagateBacupPlusDrive/Earthworm_Project/DRILO_D/SPADES_assembly_MultiKmer/BUSCO/run_genome_3-MULTIKMER/full_table_genome_3-MULTIKMER.tsv
name=EUMZ_D
path=/Volumes/SeagateBacupPlusDrive/Earthworm_Project/EUMZ_D/SPADES_assembly_MultiKmer/BUSCO/run_genome_4-MULTIKMER/full_table_genome_4-MULTIKMER.tsv
name=KEGR_D
path=/Volumes/SeagateBacupPlusDrive/Earthworm_Project/KEGR_D/SOAP_ASSEMBLY/New/BUSCO/run_genome_5-MULTIKMER/full_table_genome_5-MULTIKMER.tsv
name=POFI_D
path=/Volumes/SeagateBacupPlusDrive/Earthworm_Project/POFI_D/SPADES_assembly_MultiKmer/BUSCO/run_genome_6-k75q30-MULTIKMER/full_table_genome_6-k75q30-MULTIKMER.tsv
name=Guarani
path=/Volumes/SeagateBacupPlusDrive/Earthworm_Project/Guarani/SOAP_ASSEMBLY/K75Q30/BUSCO/run_genome_7-MULTIKMER/full_table_genome_7-MULTIKMER.tsv
name=Martiodrilus_small
path=/Volumes/SeagateBacupPlusDrive/Earthworm_Project/Martiodrilus_small/SOAP_ASSEMBLY/K75Q30/BUSCO/run_genome_11-MULTIKMER/full_table_genome_11-MULTIKMER.tsv
name=Martiodrilus_xl
path=/Volumes/SeagateBacupPlusDrive/Earthworm_Project/Martiodrilus_xl/SOAP_ASSEMBLY/K75Q30/BUSCO/run_genome_12-MULTIKMER/full_table_genome_12-MULTIKMER.tsv
name=Geogenia
path=/Volumes/SeagateBacupPlusDrive/Earthworm_Project/Geogenia/SOAP_ASSEMBLY/RECQ30/BUSCO/run_genome_8-MULTIKMER/full_table_genome_8-MULTIKMER.tsv
name=Tritogenia
path=/Volumes/SeagateBacupPlusDrive/Earthworm_Project/Tritogenia/SOAP_ASSEMBLY/RECQ30/BUSCO/run_genome_9-MULTIKMER/full_table_genome_9-MULTIKMER.tsv
name=Glossocolex
path=/Volumes/SeagateBacupPlusDrive/Earthworm_Project/Glossocolex/SOAP_ASSEMBLY/BUSCO/run_genome_10-MULTIKMER/full_table_genome_10-MULTIKMER.tsv
name=H_elegan
path=/Volumes/SeagateBacupPlusDrive/Earthworm_Project/H_elegan/SOAP_assembly/BUSCO/run_genome_14-MULTIKMER/full_table_genome_14-MULTIKMER.tsv
name=Capcal
path=/Volumes/SeagateBacupPlusDrive/Earthworm_Project/Capcal/SOAP_assembly/BUSCO/run_genome_13-MULTIKMER/full_table_genome_13-MULTIKMER.tsv
name=Helobdella_robusta
path=/Volumes/SeagateBacupPlusDrive/Earthworm_Project/Helobdella_robusta/SOAP_assembly/BUSCO/run_genome_15-MULTIKMER/full_table_genome_15-MULTIKMER.tsv