name=H_elegan
path=/Volumes/SeagateBacupPlusDrive/Earthworm_Project/H_elegan/SOAP_assembly/BUSCO/run_genome_14-MULTIKMER/full_table_genome_14-MULTIKMER.tsv
name=Capcal
path=/Volumes/SeagateBacupPlusDrive/Earthworm_Project/Capcal/SOAP_assembly/BUSCO/run_genome_13-MULTIKMER/full_table_genome_13-MULTIKMER.tsv
name=Helobdella_robusta
path=/Volumes/SeagateBacupPlusDrive/Earthworm_Project/Helobdella_robusta/SOAP_assembly/BUSCO/run_genome_15-MULTIKMER/full_table_genome_15-MULTIKMER.tsv